<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- File Appender for Saurcelab package -->
        <File name="PackagesaurcelabFileAppender" fileName="./logs/saurcelab.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c{1}:%L - %m%n"/>
        </File>

        <!-- File Appender for DemoDragAndDrop package -->
        <File name="PackageDemoDragAndDropFileAppender" fileName="./logs/demoDragAndDrop.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c{1}:%L - %m%n"/>
        </File>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFileAppender" fileName="./logs/Report.log"
                     filePattern="./logs/rolling-app-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c{1}:%L - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Logger for Saurcelab package -->
        <Logger name="com.saurcelab.sorf" level="info" additivity="true">
            <AppenderRef ref="PackagesaurcelabFileAppender"/>
        </Logger>

        <!-- Logger for DemoDragAndDrop package -->
        <Logger name="demoDragAndDrop" level="info" additivity="true">
            <AppenderRef ref="PackageDemoDragAndDropFileAppender"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>